<div *ngIf="student" class="">
    <h2 class="mb-4">
        {{student.name}} Projects
    </h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let project of student.projects">
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td class="interactivehover" (click)="deleteProject(project.id)">
                        <i class="fa fa-trash"></i>
                    </td>
                </tr>
        </tbody>
    </table>

    
    <form *ngIf="availableProjects.length>0" (ngSubmit)="addProject()" class="max-w-sm flex flex-col items-center mx-auto">
        <label for="availableProjects"> add a Project</label>

        <select name="project" id="project" [(ngModel)]="projectId">
            <option disable selected value=""> Choose a Project</option>
            <option *ngFor="let project of availableProjects" [value]="project.id">{{project.name}}</option>
        </select>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded mt-4">Add Project</button>
    </form>
</div>
